@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.head{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: rgb(15, 9, 66);
    padding: 1em;
    font-family: sans-serif, poppins;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: middle;
    padding: 0px 250px;
}

.text-heading{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    background-color: rgb(13, 120, 86);
    padding: 40px 25px;
    font-family: sans-serif, poppins;
}

#text-sample p{
    width: 1000px;
    height: auto;
    font-size: 16px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    background-color: rgb(192, 199, 197);
    padding: 20px;
    line-height: 30px;
    border-radius: 10px;
    font-family: sans-serif, poppins;
}

.input #textarea{
    width: 1000px;
    border-color: grey;
    border-width: 10px;
    border-radius: 5px;
    margin: 10px 0px;
    font-size: 16px;
}

.input #textarea::placeholder{
   color: rgb(153, 153, 153);
}

.input #textarea:focus{
    outline: none;
}

.meta{
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

#time{
    font-size: 40px;
    font-weight: 800;
    color: rgb(27, 8, 78);
    font-family: sans-serif, poppins;
    margin: 5px;

}

.button #button, 
#button2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    font-size: 20px;
    font-weight: 700;
    width: 200px;
    height: 50px;
    background-color: #0d7856;
    border: none;
    color: white;
}

.result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    padding: 15px;
    background-color: rgb(13, 120, 86);
}

.result p{
    font-size: 30px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    font-family: sans-serif, poppins;
}

#box p{
    
    font-size: 20px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    font-family: sans-serif, poppins;
}

#er{
    font-size: 12px;
    font-weight: 500;
    padding: 2px 15px;
    line-height: 20px;
    color: rgb(255, 255, 255);
    font-family: sans-serif, poppins;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    /* body {
        background-color: red;
    } */
    
    .head{
        font-size: 16px;
        font-weight: 500;
        padding: 0.5em;
    }
    
    .text-heading{
        font-size: 16px;
        padding: 20px 15px;
    }

    .container{
        padding: 20px 10px;
    }

    #text-sample p{
        width: 300px;
        height: auto;
        padding: -5px;
        font-size: 16px;
    }
    
    .input #textarea{
        width: 310px;
    }

    .meta{
        display: flex;
        justify-content: space-between;
        padding: 2px 20px;
        width: 300px;
    }
    
    #time{
        font-size: 20px;
        font-weight: 800;
        color: rgb(27, 8, 78);
        font-family: sans-serif, poppins;
        margin: 5px;
    
    }
    
    .button #button, 
    #button2{
        font-size: 12px;
        font-weight: 700;
        width: 100px;
        height: 35px;
    }
}
  
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    /* body {
        background-color: yellow;
    } */
    
    .container{
        padding: 20px;
    }

    #text-sample p{
        width: 450px;
        height: auto;
        padding: -5px;
    }
    
    .input #textarea{
        width: 460px;
    }

    .meta{
        width: 460px;
    }
}
  
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    /* body {
        background-color: blue;
    }
     */
    .container{
        padding: 20px 35px;
    }

    #text-sample p{
        width: 650px;
        height: auto;
        padding: -5px;
    }
    
    .input #textarea{
        width: 660px;
    }

    .meta{
        padding-top: 20px;
        padding-right: 55px;
        width: 650px;
    }
}
  
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
    /* body {
        background-color: green;
    } */

    .container{
        padding: 20px 150px;
    }

    #text-sample p{
        width: 750px;
        height: auto;
        padding: -5px;
    }
    
    .input #textarea{
        width: 760px;
    }

    .meta{
        padding-top: 20px;
        padding-right: 25px;
        width: 760px;
    }
}
  
/* Media Query for Large screens */
@media (min-width: 1281px) {
    body {
        background-color: white;
    }
}